:root {
  --leaflet-custom-bg-color: #d5e8eb;
  --datatable-scrollbar-bg: #cfd8dc6c;
  --datatable-scrollbar-tumb-bg: #90A4AE;
}

/* leaflet custom popup */
.leaflet-popup-content-wrapper {
  padding: 0px !important;
}

.leaflet-popup-content {
  margin: 0px !important;
}

/* datatable custom scrollbar for Safari & Chromium */
.dvn-scroller {
  scrollbar-color: var(--datatable-scrollbar-tumb-bg) var(--datatable-scrollbar-bg);
}

.dvn-scroller::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.dvn-scroller::-webkit-scrollbar-track {
  background: var(--datatable-scrollbar-bg);
}

.dvn-scroller::-webkit-scrollbar-thumb {
  background-color: var(--datatable-scrollbar-tumb-bg);
  border-radius: 6px;
  border: 3px solid var(--datatable-scrollbar-bg);
}